/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 480 pixels (phones and smaller)
	2.2 - MINIMUM width of 481 pixels (phones and larger)
	2.3 - MINIMUM width of 721 pixels (tablets and larger)
3.0 - Custom Business Directory Styles
4.0 - Register Styles
5.0 - Messages and Notifications Styles
6.0 - Shopify Integration Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/

body h1,
body h2,
body h3{
	line-height: 1.4;
}

body h4,
body h5,
body h6{
	line-height: 1.5;
}

.page-template-homepage #main{
	max-width: none;
}

.page-template-homepage #primary{
	padding-left: 0;
	padding-right: 0;
}

.page-template-homepage #comments{
	display: none;
}

#logo-area img{
  max-height: 40px;
}

body .site-header .site-title{
  width: 42px;
}

.entry-content button,
.entry-content .button{
    font-size: 16px !important;
    padding: 12px 24px !important;
    font-weight: bold !important;
}

.single-post .entry-post-thumbnail{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.single-post .entry-post-thumbnail:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 999;
}

.sidebar-button a {
    color: #fff !important;
    display: inline-block;
    font-size: 16px;
    padding: 3px 24px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #3aa856;
    border: 1px solid #2e9c4a;
    text-align: center;
    width: 100%;
}

.sidebar-button {
    line-height: 3;
}

.blog:not(.bp-user) .site-content,
.archive.tag .site-content,
.archive.date .site-content,
.archive.author .site-content,
.archive.category .site-content,
.search.search-results .site-content .search-content{
    max-width: none !important;
}

.blog:not(.bp-user) .site-content .hentry,
.archive.tag .site-content .hentry,
.archive.date .site-content .hentry,
.archive.author .site-content .hentry,
.archive.category .site-content .hentry,
.search.search-results .site-content .hentry{
    width: 270px;
}

.archive article.type-post,
.search article.type-post{
    padding: 0;
}

#masonry .entry-post-thumbnail,
#masonry .no-entry-post-thumbnail{
    margin: 0;
    margin-bottom: 20px;
}

.masonry-title-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.05) 22%, rgba(0,0,0,0.05) 47%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 1%,rgba(0,0,0,0.05) 22%,rgba(0,0,0,0.05) 47%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.05) 1%,rgba(0,0,0,0.05) 22%,rgba(0,0,0,0.05) 47%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
    opacity: 0;
    transition: 200ms linear;
}

.entry-post-thumbnail:hover .masonry-title-overlay{
    opacity: 1;
}

.entry-post-thumbnail h3{
    color: white;
    font-size: 18px;
    font-family: Lato, sans-serif;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    margin: 0;
    text-transform: capitalize;
}

.archive article.type-post{
    border: none !important;
}

.no-entry-post-thumbnail{
    padding: 20px;
    display: block;
    font-size: 20px;
    border: none !important;
}

.no-entry-post-thumbnail h3{
    font-size: 18px;
    font-family: Lato, sans-serif;
    text-transform: capitalize;
}

.no-entry-post-thumbnail:hover{
    background-color: green;
}

.no-entry-post-thumbnail:hover h3{
    color: white;
}

.footer-inner .footer-disclaimer{
    margin-top: 1em;
}

div.footer-inner-bottom a{
    color: white;
}

/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 480 pixels (phones and smaller)
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.1 - MINIMUM width of 481 pixels (phones and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 481px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

/*--------------------------------------------------------------
3.0 - Custom Business Directory Styles
--------------------------------------------------------------*/

/* Business Listing Title */
.wpbdp-listing .listing-title a,
.wpbdp-listing .listing-title h2 {
    color: #242424;
}

/* Business Listing Links */
.wpbdp-listing a {
    color: #54ae68;
}

.business-directory ul.wpbdp-categories {
    list-style: circle;
    column-count: 2;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    width: 100%;
}

ul.wpbdp-categories>li {
    float: none;
}

.business-directory ul.wpbdp-categories ul.children {
    margin-top: 0.618em;
}

.business-directory ul.wpbdp-categories li {
    line-height: 1.5em;
    margin-bottom: 0.618em;
    font-weight: 600;
    float: none;
    width: 100%;
}

.business-directory .reshare-container {
    clear: both;
    float: left;
}

/*--------------------------------------------------------------
4.0 - Register Styles
--------------------------------------------------------------*/

.ogn-register--before-fields {
    margin-bottom: 1em;
}

/*--------------------------------------------------------------
5.0 - Messages and Notifications Styles
--------------------------------------------------------------*/

#buddypress #messages-bulk-management .messages-options-nav {
    visibility: hidden;
}

/*--------------------------------------------------------------
6.0 - Messages and Notifications Styles
--------------------------------------------------------------*/

button.shopify-buy__btn {
    background-color: #6b933e;
    font-family: Georgia, serif;
    font-weight: 600;
}

.shopify-buy__product__title {
    font-family: Georgia, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

/*--------------------------------------------------------------
7.0 - Admin bar
--------------------------------------------------------------*/
@media screen and (min-width: 481px) {

	.header-account-login .menupop.wp-admin-bar-community-directory .ab-item {
		line-height: 1.3;
	}

}

.is-desktop .header-account-login .wp-admin-bar-dashboard {
	display: none;
}

/* Reply Button */
#buddypress div.activity-meta a.acomment-reply {
    color: #6a933e;
    font-weight: normal;
}

.acomment-reply:before {
    color: black;
    display: block;
}

.acomment-reply:after {
    content: "Reply";
    font-size: 16px;
}

/* Delete Button */
#buddypress #activity-stream .activity-meta .delete-activity {
    color: #6a933e;
    font-size: 16px !important;
    padding: 12px 33px !important;
    font-weight: normal !important;
}

#buddypress #activity-stream .activity-meta .delete-activity:before {
    color: black;
    display: block;
    margin-bottom: 3px;
}

/* Reactions */
#buddypress .activity-list .activity-content .activity-header {
    padding-bottom: 32px;
    position: relative;
}
 
#buddypress .activity-reactions.active {
    bottom: 0;
    clear: both;
    float: right;
    left: 0;
    margin: 0 auto;
    padding-bottom: 0.6em;
    position: absolute;
    width: 100%;
}

#buddypress .activity-reactions a {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0px 5px;
}

#buddypress .activity-reactions a span {
    margin-left: 7px;
}

#buddypress #activity-stream .activity-header > p {
    max-width: 267px;
}

/* Login Button */
a.wds-login-button {
    background-color: #6b933e;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    line-height: 21px;
    padding: 12px 25px;

}
