/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 480 pixels (phones and smaller)
	2.2 - MINIMUM width of 481 pixels (phones and larger)
	2.3 - MINIMUM width of 721 pixels (tablets and larger)
3.0 - Custom Business Directory Styles
4.0 - Register Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/

body h1,
body h2,
body h3{
	line-height: 1.4;
}

body h4,
body h5,
body h6{
	line-height: 1.5;
}

.page-template-homepage #main{
	max-width: none;
}

.page-template-homepage #primary{
	padding-left: 0;
	padding-right: 0;
}

.page-template-homepage #comments{
	display: none;
}

/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 480 pixels (phones and smaller)
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.1 - MINIMUM width of 481 pixels (phones and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 481px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

/*--------------------------------------------------------------
3.0 - Custom Business Directory Styles
--------------------------------------------------------------*/

/* Business Listing Title */
.wpbdp-listing .listing-title a,
.wpbdp-listing .listing-title h2 {
	color: #242424;
}

/* Business Listing Links */
.wpbdp-listing a {
	color: #54ae68;
}

/*--------------------------------------------------------------
4.0 - Register Styles
--------------------------------------------------------------*/

.ogn-register--before-fields {
	margin-bottom: 1em;
}