/* Layout */
div.default-layout-meta { margin-bottom: 20px; }
div.layout-meta { 
    max-width: 124px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
div.layout-meta img { width: 124px; margin-top: 5px; }
div.layout-meta input { display: inline; }
.clearfix:after { clear: both; }